<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>会計</title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>

  <button id="call" onclick="on('call');">呼び出し</button>
  <button id="end" onclick="on('end');">終了</button>
  <button onclick="location.href='http://localhost:8000/correct'">修正</button>
  <div id="alert"></div>
  <script>
    //画面読み込み時の処理
    window.onload = function () {
      socket.emit('reqList', {});
    }
    var socket = io.connect();

    //ボタンが押された時の処理
    function on(name) {
      switch (name) {
        //終了ボタン
        case 'end':
          for (i = 0; i < listData.length; i++) {
            if (listData[i].status === '会計') {
              socket.emit('end', { num: listData[i].number });
              return;
            }
          }
          alert('待っている人はいません');
        //呼び出しボタン
        case 'call':
          for (i = 0; i < listData.length; i++) {
            if (listData[i].status === '会計') {
              socket.emit('call', { num: listData[i].number });
              return;
            }
          }
          alert('待っている人はいません');
      }
    }

  </script>
  <%-include('list',{room:'accounting'}) %>
    <%-include('correctLog')%>

</body>