<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>会計</title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
  <button id="call" onclick="on('acco-call');">呼び出し</button>
  <button id="end" onclick="on('end');">終了</button>
  <button onclick="location.href='http://localhost:8000/correct'">修正</button>

  <script>
    function on(name){
      console.log(listData[1].status);
      for(i=0;i<listData.length;i++){
        if(listData[i].status==='accounting'){
          console.log('add19');
          request(name,listData[i].number);
          return;
        }
      }
      alert('待っている人はいません');
    }
    window.onload=function(){
      request('reqList','null')
    }
  </script>
  <%-include('socket')%>      
  <%-include('list',{room:'accounting'}) %> 

</body>