<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>呼び出し画面</title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <style>
    body {
      background-color: white;
    }

    th,
    tr {
      color: navy;
      size: 50px;
      border: solid 1px;
      padding: 10px;
    }

    table {
      border-collapse: collapse;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div id='main'></div>
  <table id='sub'></table>
  <div id="information"></div>

  <button onclick="on('fullscreen')">全画面</button>

  <script>

    function on(name) {
      document.body.requestFullscreen();
    }

    var socket = io.connect();
    var sub = document.getElementById('sub');
    var main = document.getElementById('main');
    let text;
    let tr, textnode, th, td;
    socket.on('callList', function (data) {
      /*  var audio1=new Audio('PerituneMaterial_Mystery_Detective.mp3');
        audio1.play();*/
      console.log('calllist');
      listData = data.value;
      console.log(listData);
      while (main.firstChild) {
        main.removeChild(main.firstChild);
      }
      while (sub.firstChild) {
        sub.removeChild(sub.firstChild);
      }

      if (listData.length > 0) {
        text = listData[listData.length - 1].number + '番：' + listData[listData.length - 1].room;
        let a = document.createTextNode(text);
        main.appendChild(a);
      }

      if (listData.length > 1) {
        for (let i = 0; i < listData.length - 1; i++) {
          tr = document.createElement('tr');
          textnode = document.createTextNode(listData[i].number);
          th = document.createElement('th');
          th.appendChild(textnode);
          tr.appendChild(th);
          textnode = document.createTextNode(listData[i].room);
          td = document.createElement('td');
          td.appendChild(textnode);
          tr.appendChild(td);
          //let e=document.createElement('tr');
          sub.appendChild(tr);
          //        room.appendChild(c);
          //list.appendChild(e);
        }
      }
    })
  </script>
</body>